body {
  margin: 0;
}

.content {
  max-width: 960px;
  margin: 0 auto;
}

h2, p {
  font-family: sans-serif;
  font-weight: 100;
  margin-bottom: 40px;
}

section.container:last-child, section.container p:last-child {
  margin-bottom: 0;
}

section.container h2 {
  font-size: 30px;
}

section.container.static {
  padding: 40px 0;
}

section.container.parallax {
  height: 600px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  background-attachment: fixed;
}

section.container.parallax h1 {
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
  line-height: 600px;
  color: rgba(255,255,255,0.8);
  font-family: sans-serif;
  text-shadow: 0 0 10px rgba(0,0,0,0.2);
}

section.container.parallax-1 {
  background-image: url('./img/australia.png')
}

section.container.parallax-2 {
  background-image: url('./img/korea.png')
}

section.container.parallax-3 {
  background-image: url('./img/taiwan.png')
}

section.container.parallax-4 {
  background-image: url('./img/france.png')
}


@media all and (min-width: 600px) {
  section.container h2 {
    font-size: 50px;
  }
  section.container p {
    font-size: 20px;
  }
  section.container.parallax h1 {
    font-size: 70px;
    letter-spacing: 10px;
  }
}
@media all and (min-width: 960px) {
  section.container.parallax h1 {
    font-size: 160px;
    letter-spacing: 25px;
  }
}
